
/* .slider-list {
  wi
} */
.slider-image {
     flex: 1 1 calc(25%-10px);
     height: 100%;
     width: 200px;
     margin-left: 10px;

}

@media screen and (max-width:767px) {

  .slider-image {
    flex: 1 1 49%;
    width: 100px;
    height: 150px;
  }
  
}




