.popular-bg {
    background-color: black;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}

.popular-movie-container {
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: flex-start;
    list-style-type: none;
    row-gap: 10px;
    column-gap: 5px;
    overflow-y: scroll;
    max-height: 80vh;
    justify-content: space-evenly;
}

.popular-video-image {
    flex: 1 1;
    width: calc(24%);
    max-height: 200px;
    margin-right: 1%;
    margin-top: 20px;
}


@media screen and (max-width: 767px)  {
    .popular-videos-list {
        max-width: 20%;
        min-width: 150px;
        flex: 1 1 calc(20% - 10px);
    }

    .popular-movie-container {
        justify-content: space-between;
        column-gap: 2px;
    }
}